<div class="container mt-4">
  <!-- browse buttons -->
  <div class="d-flex justify-content-around">
    <% unless @category == "all" %>
      <%= link_to "All", equipments_path, class: 'btn btn-ghost' %>
    <% end %>
    <% ApplicationController::SPORT_CATEGORIES.each do |sport_category| %>
      <%= link_to sport_category, equipments_path(category: sport_category), class: "btn btn-ghost#{'-selected' if params[:category] == sport_category}" %>
    <% end %>
  </div>
  <h3 class="mt-4 mb-2"><%= @category.capitalize %> kits available to rent: </h3>
  <div class="container">
    <div class="row">
    <div class="col-4">
      <% @equipments.each do |equipment| %>
        <div class="card-product mt-2" data-equipment-id="<%= equipment.id %>">
          <% if equipment.photo.attached? %>
            <%= cl_image_tag equipment.photo.key %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>

          <div class="card-product-infos">
            <h2><%= link_to equipment.title, equipment_path(equipment) %></h2>
            <p><%= equipment.description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <!-- map -->
    <div id="map"
        class="col-8 mt-2"
        style="width: 100%; height: 600px; position: sticky; top: 20px"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  </div>
</div>
