<h1><strong><%= @equipment.title %></strong></h1>

<h3><strong>Informations:</strong></h3>
<p><strong>Description:</strong> <%= @equipment.description %></p>
<p><strong>Address:</strong> <%= @equipment.address %></p>
<p><strong>Price per day:</strong> <%= @equipment.daily_price %></p>
<p><strong>Category:</strong> <%= @equipment.sport_category %></p>

<div class="d-flex pb-3">
  <h3 class="flex-grow-1">Reviews</h3>
  <%= link_to 'Add a review', new_equipment_booking_path(@equipment), class: 'btn btn-primary' %>
</div>

<% if policy(@equipment).edit? %>
  <%= link_to "Update", edit_equipment_path(@equipment) %>
<% end %>

<% if policy(@equipment).destroy? %>
  <%= link_to "Delete", equipments_path() %>
  <% @equipment.destroy %>
<% end %>
