<div class="container mx-20 mt-4">

  <div class="d-flex justify-content-around" >
    <div class="mr-4">
      <h2 class="mt-1"><%= @equipment.title %>  </h2>
      <div class="card-equipment">
        <% if @equipment.photo.attached? %>
          <%= cl_image_tag @equipment.photo.key, height: 300, width: 400 %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>

        <div class="card-equipment-infos">
          <div>
            <p><strong>Description:</strong> <%= @equipment.description %></p>
            <p><strong>Address:</strong> <%= @equipment.address %></p>
            <p><strong>Category</strong> <%= @equipment.sport_category %></p>
          </div>
          <h2 class="card-equipment-pricing"><%= @equipment.daily_price %>€ / day</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-equipment-user avatar-bordered" />
        </div>
        <div class="d-flex justify-content-between px-3 pb-3">
          <%= link_to 'Back', equipments_path(category: @equipment.sport_category), class: 'btn btn-primary' %>

                    <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Book now
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Pick your booking dates</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                   <%= form_for [@equipment, Booking.new] do |f| %>
                    <%= f.date_field :start_date, placeholder: "start_date" %>
                    <%= f.date_field :end_date, placeholder: "end_date" %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= f.submit class: 'btn btn-primary' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list-group">
      <h2>Bookings</h2>
      <% @equipment.bookings.each do |booking| %>
        <% if policy(booking).show? %>
        <div class="w-100 mt-1">
          <a class="list-group-item list-group-item-action active" aria-current="false">
            <p>
              <strong>Booker </strong>
              <br>
              <%= booking.user.first_name%> <%= booking.user.last_name %>
            </p>
            <p>
              <strong>Start date </strong>
               <br>
               <%= booking.start_date.day %>/<%= booking.start_date.month %>/<%= booking.start_date.year %>
            </p>
            <p>
              <strong>Duration: </strong>
              <br>
              <%= (booking.end_date - booking.start_date).to_i/(3600*24) %> days
            </p>
            <p>
              <strong>Total price: </strong>
              <br>
              <%= (booking.end_date - booking.start_date).to_i/(3600*24) * @equipment.daily_price %> €
            </p>
          </a>
        </div>
        <% end %>
      <% end %>
    </div>

    </div>
  </div>

</div>


<% if policy(@equipment).edit? %>
      <%= link_to "Update", edit_equipment_path(@equipment) %>
    <% end %>

    <p><% if policy(@equipment).destroy? %>
      <%= link_to  @equipment, method: :delete, data: { confirm: 'Are you sure?'} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %></p>
