<div class="container">

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img4.onthesnow.com/image/la/92/92811.jpg)">
    <%= link_to 'Ski', equipments_path(category:"Ski")  %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://lh3.googleusercontent.com/proxy/od20j8E9LBuRjgzv3NwmQB3G4D3WhlcHjDCGGA3dZ7YzGMMi1ocljD6L9dde5DqQ1PkzUP6Ov4gOrMQGlee9liCLK_i-ixBZUswSsUdM_2Zy1qcrsIt3BhuZ8CYcLnvGQnxECCKTq0L6cbUNupI16fJiILpuh4apLUAxN-Ll5LwICEfedAFgF5atLcEOJQc76ug">
    <%= link_to 'Snowboard', equipments_path(category:"Snowboard")  %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.camping-castors.fr/wp-content/uploads/kitesurf-calvi.jpg)">
    <%= link_to 'Kite Surf', equipments_path(category:"Kite Surf")  %>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.ohbox.ch/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/q/8/q8a3007-1600x1066.jpg)">
    <%= link_to 'Snowkite', equipments_path(category:"Snowkite")  %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://adventuresportsjournal.com/wp-content/uploads/2012/04/SZ-07Gap-WS-LJA-01-1.jpg)">
    <%= link_to 'Wingsuit', equipments_path(category:"Wingsuit")  %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/92/f4/40/92f4409a77485dd19972870aba177d18.jpg)">
    <%= link_to 'Highline', equipments_path(category:"Highline")  %>
  </div>
</div>
