<%
  profile_tab = params[:tab] == "profile" || !params[:tab].present?
  bookings_tab = params[:tab] == "bookings"
  equipment_tab = params[:tab] == "equipment"
%>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= "active" if profile_tab %>" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="<%= profile_tab %>">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= "active" if bookings_tab %>" id="my_bookings-tab" data-toggle="tab" href="#my_bookings" role="tab" aria-controls="my_bookings" aria-selected="<%= bookings_tab %>">My Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= "active" if equipment_tab %>" id="my_equipment-tab" data-toggle="tab" href="#my_equipment" role="tab" aria-controls="my_equipment" aria-selected="<%= bookings_tab %>">My equipment</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade <%= "show active" if profile_tab %> mt-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h3 class="mt-4 mb-2 ml-4"> Profile: </h3>
    <div class="card-profile ml-4">
      <% if current_user.avatar.attached?  %>
        <img class="avatar-profile" src="<%= cl_image_path current_user.avatar.key, height: 300, width: 300,  crop: :fill %>" border-radius= 50px />
      <% else %>
        <img class="avatar" src="https://creai-grand-est.fr/bundles/admin/images/user-empty-avatar.png"/>
      <% end %>
      <br>
      <%= @current_user.first_name %> <%= @current_user.last_name %>
    </div>

  </div>

  <!-- Bookings -->

  <div class="container tab-pane fade <%= "show active" if bookings_tab %> mt-5" id="my_bookings" role="tabpanel" aria-labelledby="my_bookings-tab">
    <h1 class="mt-2 ml-4">My Bookings</h1>

    <% @bookings.each do |booking| %>

    <div class="container">
      <div class="row">

        <div class="card-product mt-2 ml-4 col-6">

          <% if booking.equipment.photo.attached? %>
            <%= cl_image_tag booking.equipment.photo.key %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>

          <div class="card-product-infos">
            <h2><%= booking.equipment.title %></h2>
            <p><%= booking.equipment.description %></p>
          </div>
        </div>

        <div class="card-product mt-2 ml-4 col-4">
          <p><strong><%= booking.equipment.daily_price %>€ / day</strong></p>
        </div>

      </div>
    </div>

    <% end %>

  </div>

   <!-- Equipment -->


  <div class="container tab-pane fade <%= "show active" if equipment_tab %> mt-5" id="my_equipment" role="tabpanel" aria-labelledby="my_equipment-tab">

    <h3 class="mt-4 mb-2 ml-4"> My equipment: </h3>

    <% @equipments.each do |equipment| %>
        <div class="card-product mt-2 ml-4">
          <% if equipment.photo.attached? %>
            <%= cl_image_tag equipment.photo.key %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>

          <div class="card-product-infos flex-grow-1">
            <h2><%= link_to equipment.title, equipment_path(equipment) %></h2>
            <p><%= equipment.description %></p>
          </div>
          <button class="btn btn-sm btn-primary mr-4" type="button" data-toggle="collapse" data-target="#collapseExample-<%= equipment.id %>" aria-expanded="false" aria-controls="collapseExample-<%= equipment.id %>">
            View bookings
          </button>
        </div>
        <div class="collapse ml-2" id="collapseExample-<%= equipment.id %>">
            <div class="card-product card-body ml-4 border-top" data-controller="update-status">
              <ul>
                <% equipment.bookings.each do |booking| %>
                  <li class="d-flex align-items-center justify-content-between mt-1">
                    <div class="flex-grow-1">
                      <strong>Booker </strong>
                      <%= booking.user.first_name%> <%= booking.user.last_name %> -
                      <strong>Start date </strong>
                       <%= booking.start_date.day %>/<%= booking.start_date.month %>/<%= booking.start_date.year %> -
                      <strong>Duration: </strong>
                      <%= (booking.end_date - booking.start_date).to_i/(3600*24) %> days -
                      <strong>Total price: </strong>
                      <%= (booking.end_date - booking.start_date).to_i/(3600*24) * equipment.daily_price %> € -
                      <strong>Status: </strong>
                      <span data-update-status-target="status"><%= booking.status.capitalize %></span>
                    </div>
                    <% if booking.status == "pending" %>
                    <div
                      class="ml-2 btn btn-sm btn-primary"
                      data-update-status-target="button"
                      data-url="<%= accept_booking_path(booking) %>"
                      data-action="click->update-status#update">
                      Accept
                    </div>
                    <div
                      class="ml-2 btn btn-sm btn-primary"
                      data-update-status-target="button"
                      data-url="<%= deny_booking_path(booking) %>"
                      data-action="click->update-status#update">
                      Deny
                    </div>

                    <% end %>

                    </li>
                <% end %>
              </ul>
            </div>
          </div>

    <% end %>

  </div>
</div>



